<nav>
    <div class="short-nav-desktop">

        <div style="display: flex; flex-direction: row; align-items: center;">
            <img style="width: 35px; margin: 0 4px;" src="../svg/LOGO.svg" alt="">
            <h2 onclick="window.location = '/'" id="logo">Sierra Store</h2>
        </div>
        <div>
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </div>
    </div>
</nav>